[submodule "server/library/aliyun-oss-php-sdk"]
	path = server/library/aliyun-oss-php-sdk
	url = https://github.com/aliyun/aliyun-oss-php-sdk.git
[submodule "server/library/phpMailer"]
	path = server/library/phpMailer
	url = https://github.com/PHPMailer/PHPMailer.git
[submodule "website/static/appsiteJS"]
	path = website/static/appsiteJS
	url = https://github.com/shezw/appsiteJS.git
[submodule "server/library/weChatDev"]
	path = server/library/weChatDev
	url = https://github.com/shezw/WeChatDeveloper
[submodule "server/library/pluploadHandler"]
	path = server/library/pluploadHandler
	url = https://github.com/shezw/plupload-handler-php
