# AppSite Ignore

*.DS_Store
.idea

config.php
custom.php

/server/custom/model/*
!/server/custom/model/Sample.php
!/server/custom/model/SampleModel.php
/server/custom/localization/*
!/server/custom/localization/zh-CN.sample.lang

/manager/themes/*
!/manager/themes/default
/manager/custom/*

/api/custom/*
!/api/custom/sample

/website/themes/*
!/website/themes/default

/website/static/libs/*
!/website/static/libs/bootstrap
!/website/static/libs/jquery
!/website/static/libs/highlightjs
!/website/static/libs/select2