# AppSite Ignore

*.DS_Store

# These files used for saving configs by auto generation at installation
# Save them on the repo is not recommended

# 下面三个文件将会在安装时自动生成，用于保存一些配置信息。
# 不推荐保存到仓库中

/server/config.php
/website/static/js/config.manager.js
/website/static/js/config.website.js

