# AppSite Ignore

*.DS_Store

# These two will generate by the installition and working on real program
config.php
custom.php

# custom Models to implement ideas
/server/custom/model/*

# Samples of model
!/server/custom/model/Sample.php
!/server/custom/model/SampleModel.php


# custom i18n files
/server/custom/localization/*

# Samples of i18n file
!/server/custom/localization/zh-CN.sample.lang
!/server/custom/localization/en-WW.sample.lang

# custom api files
/api/custom/*
!/api/custom/sample


# themes for management with the default named stisla
/manager/themes/*
!/manager/themes/stisla
/manager/custom/*

# themes for website
/website/themes/*
!/website/themes/default
!/website/themes/boomerang

#### Static libs (Javascript)

# Ignore for custom libs
/website/static/libs/*

!/website/static/libs/bootstrap
!/website/static/libs/jquery

# Hightlight js for Code tag on html
!/website/static/libs/highlightjs

# jQuery based replacement for select boxes
!/website/static/libs/select2

# css animate
!/website/static/libs/animatecss

# Summernote full-text editor
!/website/static/libs/summernote

# QRCode in js
!/website/static/libs/qrcode

# Plupload2 & aliyun OSS uploader
!/website/static/libs/plupload-2.1.2
!/website/static/libs/aliyun_oss

# Html Clipboard
!/website/static/libs/clipboard

# Javascript lib of Excel file
!/website/static/libs/jsxls